* {
    
    background-color: white;
}


#header {
    background-color: blue;
    padding: 10px;
    text-align: center;
    color: white;
}

.addedButtons {
    display: inline-block;
}

#toolbar {
    width: 20%;
    padding: 0px;
    margin: 0px; 
    border-right: solid black;    
}

#forecast {
    display: flex;
}

#citySearch {
    height: 1.5em;
    overflow: hidden;
    resize: none;
    display: inline-block;    
}

#searchButton {
    display: inline-block;
}


#weatherData {
    max-width: 80%;
}

#content {
    display: flex;
}

.hide {
    display: none;
}

#paragraph {
    padding: 10px;
}

#currentData {
    padding: 10px;
}

.day *{
    padding: 10px;
    color: white;
    background-color: gray;
    align-items: center;
    justify-content: center;
    
}

.day {
    margin: 10px;
    color: white;
    background-color: gray;
    max-width: 20%;
}

#topContainer {
    border: 1px black;
}

